.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.header h1 .highlight {
  color: #00b894;
}

.header input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.right-section {
  display: flex;
  gap: 1rem;
  align-items: center;
}
